.carousel {
    position: relative;
    aspect-ratio: 2/1;
    margin: 0 auto 3rem;
    background-color: #00000000;
    &__image {
        position: static;
        width: 100%;
        margin: auto;
    }
    &__track-container {
        position: relative;
        min-height: min-content;
    }
    &__track {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__slide {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        &.active {
            opacity: 1;
            transition: opacity linear 150ms;
        }
    }
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 1rem;
        background: none;
        &:hover {
            cursor: pointer;
        }
        z-index: 1;
    }
    &__button-left {
        left: 1rem;
    }
    &__button-right {
        right: 1rem;
    }
    &__nav {
        position: relative;
        top: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    &__indicator {
        border: 0;
        border-radius: 50%;
        width: 1rem;
        aspect-ratio: 1;
        margin: 0 1rem;
        background-color: #aaaaaa30;
        .current_slide {
            background-color: #00000075;
        }
        &.active {
            background-color: #00000030;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.fa-solid {
    &.fa-chevron-right,
    &.fa-chevron-left {
        color: white;
        scale: 3;
        transition: color 100ms linear;
        text-shadow: 0 0 1px rgb(0, 0, 0, 0.5);
        &:hover {
            color: #00aaff;
        }
    }
}
