.carousel {
    position: relative;
    height: 600px;
    width: min(90rem, 80%);
    margin: 0 auto;
    background-color: black;
    &__image {
        width: 100%;
        object-fit: contain;
        height: 600px;
    }
    &__track-container {
        position: relative;
        background-color: lightgreen;
    }
    &__track {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__slide {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        &.active {
            opacity: 1;
            transition: opacity linear 150ms;
        }
    }
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 1rem;
        &:hover {
            cursor: pointer;
        }
    }
    &__button-left {
        left: -50px;
    }
    &__button-right {
        right: -50px;
    }
    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    &__indicator {
        border: 0;
        border-radius: 50%;
        width: 15px;
        aspect-ratio: 1;
        background-color: #00000030;
        margin: 0 1rem;
        .current_slide {
            background-color: #00000075;
        }
    }
}
