$danger: #ff2e2e;
$warning: #ffb700;
$success: #0adc0a;

$sky: #65eaff;
$slime: #3dffa1;
$clay: #ffda9a;

$primary: #00ccff;
$secondary: #004cff;
$tertiary: #0004ff;

$night: #112233;
$shadow: #223344;
